h2 {
    text-align: center;
    font-family: 'Bevan', cursive;
    font-size: 200%;
    color: rgb(255, 30, 0);
}
.total, 
.operation,
input, 
select,
button {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: auto 0;
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
    text-align: center;
    
}
button {
    background-color: #c41f1f;
    color: white;
    border-radius: 3px;
    padding: 5px;
    font-size: 120%;
    font-family: 'VT323', monospace;
    
}
input {
    font-family: 'VT323', monospace;
    font-size: 175%;

}
body {
    background-image: url("images/cow.jpeg");
    size:;
}
p {
    color: white;
    font-family: 'Lalezar', cursive;
}
.total {
    font-size: 300%;
}